.DS_Store
Makefile

.cache/*
build/*
!build/main.pdf

indent.log

compile_commands.json
CMakeCache.txt
.history/*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets
